<p>
  <strong>Title:</strong>
  <%= @test.title %>

  <strong>| Level:</strong>
  <%= @test.level %>
</p>
<p>
  <strong>Description:</strong>
  <%= @test.description %>
</p>

<table>
  <tr>
    <td><h4>Question</h4></td>
    <td colspan="2"><h4>Actions</h4></td>
  </tr>
  <% @test.questions.each do |question| %>
    <tr>
      <td><%= question.body %></td>
      <td><%= link_to 'Show', question_path(question) %></td>
      <td><%= link_to 'Edit', edit_question_path(question) %></td>
      <td><%= link_to 'Delete', question_path(question), method: :delete, data: {confirm: "Are you sure?"} %></td>
    </tr>
  <% end %>
</table>

<p>
<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %> |
<%= link_to 'Add question', new_test_question_path(@test) %>
</p>